/* Shared styles */
.text-primary {
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border: none;
    margin: 18px 36px;
    padding: 5px;
}

/* Nav styles */
nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 100px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
    
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}